[user]
  email = dev@scidentify.info
  name = Mike Lopez

[github]
  user = mikelopez

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = cyan

[color "diff"]
  meta = black bold
  frag = blue
  old = red
  new = green

[color "status"]
  added = green
  changed = blue
  untracked = yellow

[alias]
  br = branch
  c = commit -a -m
  co = checkout
  d = diff --color-words
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr by %an)%Creset' --abbrev-commit --date=relative
  pom = push origin master
  ss = status -s
  s = status
  mm = merge origin/master
  m = merge
  rm = rebase origin/master
  r = rebase
  fa = fetch --all
  f = fetch
  p = pull


